.body {
    width: 100%;
    margin: 0;


}

* {
    padding: 0;
    margin: 0;


}

#site{
    position: relative;
    min-height: 100%;
    height: 120%;
    background: #10071E;
}

#sidebar {


    /* animation */
    -moz-transition: all 650ms; /*firefox */
    -webkit-transition: all 650ms; /*safari*/
    transition: all 650ms;
}

#sidebar.active{
    left: 20px;
}


#header {
    display: block;
    text-align:right;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin-right:0%;

    background: #1A0B2E;
    box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.1);
}


#header ul li:first-child {
    text-align: left;
    margin-left: 125px;
    margin-top: 5px;
    width: 150px;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 0px 0px 0px 0px;
    
}

#logo{
    display: grid;
    width: 60px;
    margin-top: 23px;

}

#header ul li:not(:first-child) {
    display: inline-block;
    font-size: 1.1em;
    list-style: none;
    margin: 5px 15px;
}


#header ul li a {
    font-size: 20px;
    position: relative;
    right: 15px;
    bottom: 45px;
    color: white;
    text-decoration: none;
    font-family: 'Bellota', cursive;
}


#header ul li a:hover {color:darkgoldenrod}


.title{
    font-size: 45px;
    color: white;
    font-family: 'Preahvihear', sans-serif;
    
    margin-top: 150px;
    margin-left: 250px;
}


#project{
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
    


    background: #10071E;
}

#gradient {
    background: radial-gradient(50% 50% at 50% 50%, #7444a1e8 0%, rgba(50, 15, 133, 0) 100%);
}

.gr1{
    display: grid;
    width: 800px;
    height: 800px;
    margin-left: 250px;
    margin-top: -40px;

}

.gr11{
    display: grid;
    width: 800px;
    height: 800px;
    margin-left: 250px;
    margin-top: -40px;
    margin-bottom: 100px;
}



#w1{
    display: grid;
    margin-left: 700px;
    margin-top: -595px;
}

#w1_1{
    width: 550px;
    margin-left: -10px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.ww1{
    width: 700px;
    position: absolute;
    left:0px;
    top: 1225px;
    
    margin-bottom: 10px;
}

#w1_1_text{
    position: absolute;
    color: white;
    font-family: 'Preahvihear', sans-serif;
    
    margin-top: -80px;
    margin-left: 310px;
}

#btn_mini{
    position: absolute;
    left:385px;
    top: 490px;
}

#btn_mini2{
    position: absolute;
    margin-top: -400px;
    margin-left: 159px;
}

#btn_mini3{
    position: absolute;
    margin-top: -370px;
    margin-left: 359px;
}


.btn_tt{
    position: absolute;
    font-family: 'Preahvihear', sans-serif;
    font-size: 14px;

    top: 496px;
    left: 434px;
}

.btn_t2{
    position: absolute;
    font-family: 'Preahvihear', sans-serif;
    font-size: 14px;

    margin-top: -396px;
    left: 910px;

}

.btn_t3{
    position: absolute;
    font-family: 'Preahvihear', sans-serif;
    font-size: 14px;

    margin-top: -367px;
    left: 406px;
}

#btn_tt11{
    position: absolute;
    font-family: 'Preahvihear', sans-serif;
    font-size: 14px;

    margin-top: -300px;
    left: 206px;
    
}
a{
    text-decoration: none;
    color: white;

}

#w1_2_text{
    position: absolute;
    color: white;
    font-family: 'Preahvihear', sans-serif;
    
    margin-top: -10px;
    margin-left: 400px;
}

#pr2{
    display: block;
    margin-top: 220px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(85, 0, 138, 0.596);
    box-sizing: border-box;

    background-color: #ffffffd0;

    font-family: 'Bellota', cursive;
}

.btn_tt11{
    position: absolute;
    font-family: 'Preahvihear', sans-serif;
    font-size: 14px;

    margin-top: -355px;
    left: 530px;
}

.btn_tt12{
    position: absolute;
    top: 483px;
    left: 400px;

}

.btn_tt13{
    position: absolute;
    top: 1241px;
    left: 970px;

}

.btn_tt113{
    position: absolute;
    font-family: 'Preahvihear', sans-serif;
    font-size: 14px;

    margin-top: -430px;
    left: 850px;
}

.btn_tt14{
    position: absolute;
    top: 2236px;
    left: 400px;
}

.btn_tt114{
    position: absolute;
    font-family: 'Preahvihear', sans-serif;
    font-size: 14px;

    margin-top: -370px;
    left: 550px;
}

.btn_tt15{
    position: absolute;
    top: 3168px;
    left: 400px;
}

.btn_tt115{
    position: absolute;
    font-family: 'Preahvihear', sans-serif;
    font-size: 14px;

    margin-top: -370px;
    left: 550px;
}

.btn_tt16{
    position: absolute;
    top: 4102px;
    left: 400px;
}

.btn_tt116{
    position: absolute;
    font-family: 'Preahvihear', sans-serif;
    font-size: 14px;

    margin-top: -370px;
    left: 550px;
}

button {
    background-color: rgb(56, 3, 141);
    color: white;
    padding: 3px 20px;
    margin: 8px 0;
    border: 5px;
    cursor: pointer;
    width: 110px;
    border-radius: 10px;
    border-color: rgb(150, 113, 189);

    font-family: 'Preahvihear', sans-serif;
}

button:hover {
    opacity: 0.8;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(218, 0, 123);
}


.imgcontainer {
    text-align: center;
    margin: 14px 0 12px 0;
    position: relative;
    font-family: 'Preahvihear', sans-serif;
     background-color: #71518a;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    
}

.container {
    padding: 10px;
    
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(130, 89, 157); 
    background-color: rgba(53, 24, 108, 0.26); 
    padding-top: 60px;
    
}


.modal-content {
    background-color: #71518a;
    margin: 5% auto 15% auto; 
    border: 1px solid rgb(37, 0, 98);
    width: 80%; 
    font-family: 'Preahvihear', sans-serif;
}


.close {
    position: absolute;
    right: 25px;
    bottom: 8px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:rgb(218, 0, 123);
    cursor: pointer;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}






#end {
    display: grid;


    width: 100%;
    height: 100px;

    background: #0d031b;
}

.text1{
    display: grid;
    margin-top: 35px;
    align-items: center;
    margin-left: 50%;
    font-size: 18px;
    color: rgb(140, 140, 140);
    font-family: 'Bellota', cursive;

    
}

.by{
    font-size: 14px;
    position: relative;
    left: -70px;
}

#inst{
    display: block;
    margin-left: 120px;
    margin-top: -56px;
}

#inst-text{
    display: block;
    width: 50px;
    margin-left: 150px;
    font-size: 14px;
    color: #ffff;
    font-family: 'Bellota', cursive;

    margin-top: -50px;
}

#git{
    display: grid;
    margin-top: -42px;
    margin-left: 116px;
    width: 27px;
}

#git_text{
    display: block;
    width: 50px;
    margin-left: 150px;
    margin-top: -32px;
    font-size: 14px;
    color: #ffff;
    font-family: 'Bellota', cursive;
}
